 server:
   port: 8080
 stats-server:
   url: http://stats-server:9090

 spring:
   jpa:
     hibernate:
       ddl-auto: none

   sql:
     init:
       mode: always

   datasource:
     driverClassName: org.postgresql.Driver
     url: jdbc:postgresql://localhost:5432/ewm
     username: root
     password: root