version: '3.1'
services:
  stats-server:
    build: ./stats/stats-server
    container_name: stats-server-container
    ports:
      - "9090:9090"
      - "5005:5005"
    depends_on:
      - stats-db
    environment:
     JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
     SPRING_DATASOURCE_URL: "jdbc:postgresql://stats-db:5432/stats"

  stats-db:
    image: postgres:14-alpine
    container_name: stats-db-container
    ports:
      - "6541:5432"
    environment:
       POSTGRES_DB: stats
       POSTGRES_USER: root
       POSTGRES_PASSWORD: root

  ewm-service:
    build: ./main-service
    container_name: main-service-container
    ports:
      - "8080:8080"
      - "6006:6006"
    depends_on:
      - ewm-db
    environment:
      JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:6006"
      STATS_SERVER_URL: "http://stats-server:9090"
      SPRING_DATASOURCE_URL: "jdbc:postgresql://ewm-db:5432/ewm"

  ewm-db:
    image: postgres:14-alpine
    container_name: ewm-db-container
    ports:
      - "6542:5432"
    environment:
       POSTGRES_DB: ewm
       POSTGRES_USER: root
       POSTGRES_PASSWORD: root